.gallery{
  background: white;

}

.main-slider, .tabsl{
  width: 100%;
  @include desktop{
    width: 50%
  };

  @include tablet{
    width: 50%
  };

  @include large{
    width: 50%
  };

  height: 500px;
  float: left;

}

.tabs{
  
}
