.gallery{
  background: white;

}

.main-slider, .tabs{
  width: 100%;
  @include desktop{
    width: 50%
  };

  @include tablet{
    width: 50%
  };

  @include large{
    width: 50%
  };

  height: 500px;
  float: left;

}
.main-slider{
  position: relative;
}
.left-arrow, .right-arrow{
width: 2rem;
height: 2rem;
border-radius: 50%;
background-color: $secondaryDark;
color: $secondaryLight;
text-align: center;
position: absolute;
top: 50%;
display: flex;
align-items: center;
justify-content: center;

}
.right-arrow{
  right: 0;
}
