header{
background-image: url(https://previews.123rf.com/images/tratong/tratong1109/tratong110900207/10540146-Colorful-Mosaic-Stock-Photo-mosaic-architecture-abstract.jpg);
}
//RESPONSIVE MAP OF SQUARES - mobile first
.square{
  width: (100%)/3;
  height:33vw;
  float:left;
  background: $mainLight;

  &:nth-of-type(2n+1){
    background: $mainColor;
  }

  &:hover{
     background: rgba(255,255,255,0.9);
  }

//display only 15 squares
  @include phone{
    &:nth-of-type(n+16){
      display: none;
    }
  }
//5 squares in a row
  @include phone-landscape{
    height: (100vw)/5;
    width: (100%)/5;
  }
  @include tablet{
    height: (100vw)/5;
    width: (100%)/5;
  }
//7 squares in a row
  @include desktop{
    height: (100vw)/7;
    width: (100%)/7;

  }
  @include large{
    height: (100vw)/7;
    width: (100%)/7;

  }
}

//CENTERED LOGO IN HEADER (POS:FIXED)

.logo{
  font-family: $mainFont, Tahoma, sans-serif;
  text-align: center;
  color: $mainDark;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  margin-bottom: 1rem;
  font-size: 2.5rem;

  @include tablet{
    font-size: 3rem;
  }
  @include desktop{
    font-size: 4rem;
  }

  @include large{
    font-size: 5rem;
  }

}

.squares-container{
  width: 100%;
  height: 100%;
}
