header{
background-image: url(https://previews.123rf.com/images/tratong/tratong1109/tratong110900207/10540146-Colorful-Mosaic-Stock-Photo-mosaic-architecture-abstract.jpg);
}
/*RESPONSIVE MAP OF SQUARES - mobile first*/
.square{
  width: (100%)/3;
  height:33vw;
  float:left;
  background: #FFCDA4;

  &:nth-of-type(2n+1){
    background: #a4ffa4;
  }

  &:hover{
     background: rgba(255,255,255,0.9);
  }

/*display only 15 squares*/
  @include phone{
    &:nth-of-type(n+16){
      display: none;
    }
  }
/*5 squares in a row*/
  @include phone-landscape{
    height: (100vw)/5;
    width: (100%)/5;
  }
  @include tablet{
    height: (100vw)/5;
    width: (100%)/5;
  }
/*7 squares in a row*/
  @include desktop{
    height: (100vw)/7;
    width: (100%)/7;

  }
  @include large{
    height: (100vw)/7;
    width: (100%)/7;

  }
}

/*CENTERED LOGO IN HEADER (POS:FIXED)*/

.logo{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #FF5F5F;
  position: fixed;
  left: 50%;
  top: calc(50%);
  transform: translate(-50%, -50%);
  z-index: 10000;
  padding-bottom: 10px;
  font-size: 32px;
  @include tablet{
    font-size: 48px;
  }
  @include desktop{
    font-size: 48px;
  }
  @include large{
    font-size: 64px;
  }
}
