html{
  font-size: 16px;

}

body{
  min-width: 300px;
  min-height: 500px;
  /**/
}

.clearfix::after{
  display: block;
  content: "";
  clear: both;
}

.center{
  border-color: blue!important;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  @include desktop {
    width: 64rem;
  }

  @include large{
    width: 64rem;
  }


}
