.menu{
  height: 64px;
  background: $secondaryLight;
  border-top: 0.2rem solid $secondaryDark;
  color: $secondaryDark;
  font-family: $mainFont, sans-serif;
  font-size: 2rem;
  padding: auto;
  line-height: 2;
}
